@import 'core/settings';

.body {
	width: 100vw;
  height: 100vh;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfe6e9;
  color: #079992;
}

.counter__main {
  font-size: 50px;
  color: #b71540;
}
